<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <contextName>logback</contextName>

    <!--日志trace id生成策略-->
    <conversionRule conversionWord="traceId" converterClass="com.github.bannirui.msb.log.cat.CatLogBackConverter" />

    <!--日志输出到控制台-->
    <appender name="console" class="com.github.bannirui.msb.log.appender.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] ${LOG_LEVEL_PATTERN:-%p} ${PID:- } [%traceId] [%t] [%logger] : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--日志路径 在下面定义日志输出到文件时用到-->
    <define name="log.path" class="com.github.bannirui.msb.log.configuration.DynamicProperty" />
    <!--日志输出到文件-->
    <appender name="file" class="com.github.bannirui.msb.log.appender.FileAppender">
        <file>${log.path}/logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/logback.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>8GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>2gb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <ImmediateFlush>false</ImmediateFlush>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] ${LOG_LEVEL_PATTERN:-%p} ${PID:- } [%traceId] [%t] [%logger] : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--日志采集-->
    <appender name="cat" class="com.github.bannirui.msb.log.appender.CatAppender">
    </appender>

    <!--多环境日志输出策略-->
    <springProfile name="default,dev,fat,uat,prod">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
            <appender-ref ref="cat"/>
        </root>
    </springProfile>
</configuration>
